Reminder.Data/Service References/ReminderService/ReminderService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7868/ReminderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Reminder.Service.Contracts.Models.Dto" />
  <xs:import schemaLocation="http://localhost:7868/ReminderService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" />
  <xs:element name="GetAllReminders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRemindersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Reminder.Service.Contracts.Models.Dto" minOccurs="0" name="GetAllRemindersResult" nillable="true" type="q1:ArrayOfMyReminderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Reminder.Service.Contracts.Models.Dto" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q2:ArrayOfCategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reminderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Reminder.Service.Contracts.Models.Dto" minOccurs="0" name="GetReminderInfoResult" nillable="true" type="q3:ReminderInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" minOccurs="0" name="GetCurrentUserResult" nillable="true" type="q4:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>