Reminder.Data/Service References/ReminderService/ReminderService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Reminder.Service.Contracts.Models.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Reminder.Service.Contracts.Models.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMyReminderDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyReminderDto" nillable="true" type="tns:MyReminderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyReminderDto" nillable="true" type="tns:ArrayOfMyReminderDto" />
  <xs:complexType name="MyReminderDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReminderId" type="xs:int" />
      <xs:element minOccurs="0" name="ReminderTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyReminderDto" nillable="true" type="tns:MyReminderDto" />
  <xs:complexType name="ArrayOfCategoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDto" nillable="true" type="tns:CategoryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDto" nillable="true" type="tns:ArrayOfCategoryDto" />
  <xs:complexType name="CategoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryDto" nillable="true" type="tns:CategoryDto" />
</xs:schema>