Reminder.Data/Service References/ReminderService/ReminderService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7868/ReminderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Reminder.Service.Contracts.Models.Dto" />
  <xs:import schemaLocation="http://localhost:7868/ReminderService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" />
  <xs:element name="GetAllReminders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRemindersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Reminder.Service.Contracts.Models.Dto" minOccurs="0" name="GetAllRemindersResult" nillable="true" type="q1:ArrayOfMyReminderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Reminder.Service.Contracts.Models.Dto" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q2:ArrayOfCategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reminderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Reminder.Service.Contracts.Models.Dto" minOccurs="0" name="GetReminderInfoResult" nillable="true" type="q3:ReminderInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" minOccurs="0" name="GetCurrentUserResult" nillable="true" type="q4:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" minOccurs="0" name="AddCategoryResult" nillable="true" type="q5:ServerResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditeCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditeCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" minOccurs="0" name="EditeCategoryResult" nillable="true" type="q6:ServerResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" minOccurs="0" name="DeleteCategoryResult" nillable="true" type="q7:ServerResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" minOccurs="0" name="RegistrationResult" nillable="true" type="q8:ServerResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" minOccurs="0" name="GetUsersResult" nillable="true" type="q9:ArrayOfUserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditeUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditeUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" minOccurs="0" name="EditeUserResult" nillable="true" type="q10:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" minOccurs="0" name="GetRolesResult" nillable="true" type="q11:ArrayOfRoleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" minOccurs="0" name="UpdateUserResult" nillable="true" type="q12:ServerResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>