Reminder.Data/Service References/ReminderService/ReminderService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceErrorDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceErrorDto" nillable="true" type="tns:ServiceErrorDto" />
  <xs:simpleType name="LoginResultDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoError" />
      <xs:enumeration value="InvalidCredentials" />
      <xs:enumeration value="EmptyCredentials" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginResultDto" nillable="true" type="tns:LoginResultDto" />
</xs:schema>