Reminder.Data/Service References/ReminderService/ReminderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReminderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7868/ReminderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7868/ReminderService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" />
      <xsd:import schemaLocation="http://localhost:7868/ReminderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7868/ReminderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Reminder.Service.Contracts.Models.Dto" />
      <xsd:import schemaLocation="http://localhost:7868/ReminderService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReminderService_GetAllReminders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReminders" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetAllReminders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRemindersResponse" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetAllReminders_ServiceErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" name="detail" element="q1:ServiceErrorDto" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetAllCategories_ServiceErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" name="detail" element="q2:ServiceErrorDto" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetReminderInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReminderInfo" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetReminderInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReminderInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetReminderInfo_ServiceErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" name="detail" element="q3:ServiceErrorDto" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetCurrentUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUser" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetCurrentUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUserResponse" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetCurrentUser_ServiceErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" name="detail" element="q4:ServiceErrorDto" />
  </wsdl:message>
  <wsdl:message name="IReminderService_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="IReminderService_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IReminderService_AddCategory_ServiceErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" name="detail" element="q5:ServiceErrorDto" />
  </wsdl:message>
  <wsdl:message name="IReminderService_EditeCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:EditeCategory" />
  </wsdl:message>
  <wsdl:message name="IReminderService_EditeCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditeCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IReminderService_EditeCategory_ServiceErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" name="detail" element="q6:ServiceErrorDto" />
  </wsdl:message>
  <wsdl:message name="IReminderService_DeleteCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="IReminderService_DeleteCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IReminderService_DeleteCategory_ServiceErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" name="detail" element="q7:ServiceErrorDto" />
  </wsdl:message>
  <wsdl:message name="IReminderService_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IReminderService_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IReminderService_Registration_ServiceErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" name="detail" element="q8:ServiceErrorDto" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetUsers_ServiceErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" name="detail" element="q9:ServiceErrorDto" />
  </wsdl:message>
  <wsdl:message name="IReminderService_EditeUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditeUser" />
  </wsdl:message>
  <wsdl:message name="IReminderService_EditeUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditeUserResponse" />
  </wsdl:message>
  <wsdl:message name="IReminderService_EditeUser_ServiceErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" name="detail" element="q10:ServiceErrorDto" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IReminderService_GetRoles_ServiceErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" name="detail" element="q11:ServiceErrorDto" />
  </wsdl:message>
  <wsdl:message name="IReminderService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IReminderService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IReminderService_UpdateUser_ServiceErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" name="detail" element="q12:ServiceErrorDto" />
  </wsdl:message>
  <wsdl:message name="IReminderService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IReminderService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IReminderService_DeleteUser_ServiceErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/Reminder.Service.ModelDto.Dto" name="detail" element="q13:ServiceErrorDto" />
  </wsdl:message>
  <wsdl:portType name="IReminderService">
    <wsdl:operation name="GetAllReminders">
      <wsdl:input wsaw:Action="http://tempuri.org/IReminderService/GetAllReminders" message="tns:IReminderService_GetAllReminders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReminderService/GetAllRemindersResponse" message="tns:IReminderService_GetAllReminders_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReminderService/GetAllRemindersServiceErrorDtoFault" name="ServiceErrorDtoFault" message="tns:IReminderService_GetAllReminders_ServiceErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IReminderService/GetAllCategories" message="tns:IReminderService_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReminderService/GetAllCategoriesResponse" message="tns:IReminderService_GetAllCategories_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReminderService/GetAllCategoriesServiceErrorDtoFault" name="ServiceErrorDtoFault" message="tns:IReminderService_GetAllCategories_ServiceErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReminderInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IReminderService/GetReminderInfo" message="tns:IReminderService_GetReminderInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReminderService/GetReminderInfoResponse" message="tns:IReminderService_GetReminderInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReminderService/GetReminderInfoServiceErrorDtoFault" name="ServiceErrorDtoFault" message="tns:IReminderService_GetReminderInfo_ServiceErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IReminderService/GetCurrentUser" message="tns:IReminderService_GetCurrentUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReminderService/GetCurrentUserResponse" message="tns:IReminderService_GetCurrentUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReminderService/GetCurrentUserServiceErrorDtoFault" name="ServiceErrorDtoFault" message="tns:IReminderService_GetCurrentUser_ServiceErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IReminderService/AddCategory" message="tns:IReminderService_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReminderService/AddCategoryResponse" message="tns:IReminderService_AddCategory_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReminderService/AddCategoryServiceErrorDtoFault" name="ServiceErrorDtoFault" message="tns:IReminderService_AddCategory_ServiceErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditeCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IReminderService/EditeCategory" message="tns:IReminderService_EditeCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReminderService/EditeCategoryResponse" message="tns:IReminderService_EditeCategory_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReminderService/EditeCategoryServiceErrorDtoFault" name="ServiceErrorDtoFault" message="tns:IReminderService_EditeCategory_ServiceErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IReminderService/DeleteCategory" message="tns:IReminderService_DeleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReminderService/DeleteCategoryResponse" message="tns:IReminderService_DeleteCategory_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReminderService/DeleteCategoryServiceErrorDtoFault" name="ServiceErrorDtoFault" message="tns:IReminderService_DeleteCategory_ServiceErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IReminderService/Registration" message="tns:IReminderService_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReminderService/RegistrationResponse" message="tns:IReminderService_Registration_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReminderService/RegistrationServiceErrorDtoFault" name="ServiceErrorDtoFault" message="tns:IReminderService_Registration_ServiceErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IReminderService/GetUsers" message="tns:IReminderService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReminderService/GetUsersResponse" message="tns:IReminderService_GetUsers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReminderService/GetUsersServiceErrorDtoFault" name="ServiceErrorDtoFault" message="tns:IReminderService_GetUsers_ServiceErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditeUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IReminderService/EditeUser" message="tns:IReminderService_EditeUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReminderService/EditeUserResponse" message="tns:IReminderService_EditeUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReminderService/EditeUserServiceErrorDtoFault" name="ServiceErrorDtoFault" message="tns:IReminderService_EditeUser_ServiceErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IReminderService/GetRoles" message="tns:IReminderService_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReminderService/GetRolesResponse" message="tns:IReminderService_GetRoles_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReminderService/GetRolesServiceErrorDtoFault" name="ServiceErrorDtoFault" message="tns:IReminderService_GetRoles_ServiceErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IReminderService/UpdateUser" message="tns:IReminderService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReminderService/UpdateUserResponse" message="tns:IReminderService_UpdateUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReminderService/UpdateUserServiceErrorDtoFault" name="ServiceErrorDtoFault" message="tns:IReminderService_UpdateUser_ServiceErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IReminderService/DeleteUser" message="tns:IReminderService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReminderService/DeleteUserResponse" message="tns:IReminderService_DeleteUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReminderService/DeleteUserServiceErrorDtoFault" name="ServiceErrorDtoFault" message="tns:IReminderService_DeleteUser_ServiceErrorDtoFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReminderService" type="tns:IReminderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllReminders">
      <soap:operation soapAction="http://tempuri.org/IReminderService/GetAllReminders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDtoFault">
        <soap:fault use="literal" name="ServiceErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/IReminderService/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDtoFault">
        <soap:fault use="literal" name="ServiceErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReminderInfo">
      <soap:operation soapAction="http://tempuri.org/IReminderService/GetReminderInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDtoFault">
        <soap:fault use="literal" name="ServiceErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUser">
      <soap:operation soapAction="http://tempuri.org/IReminderService/GetCurrentUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDtoFault">
        <soap:fault use="literal" name="ServiceErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/IReminderService/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDtoFault">
        <soap:fault use="literal" name="ServiceErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditeCategory">
      <soap:operation soapAction="http://tempuri.org/IReminderService/EditeCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDtoFault">
        <soap:fault use="literal" name="ServiceErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/IReminderService/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDtoFault">
        <soap:fault use="literal" name="ServiceErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IReminderService/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDtoFault">
        <soap:fault use="literal" name="ServiceErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IReminderService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDtoFault">
        <soap:fault use="literal" name="ServiceErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditeUser">
      <soap:operation soapAction="http://tempuri.org/IReminderService/EditeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDtoFault">
        <soap:fault use="literal" name="ServiceErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/IReminderService/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDtoFault">
        <soap:fault use="literal" name="ServiceErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IReminderService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDtoFault">
        <soap:fault use="literal" name="ServiceErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IReminderService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDtoFault">
        <soap:fault use="literal" name="ServiceErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReminderService">
    <wsdl:port name="BasicHttpBinding_IReminderService" binding="tns:BasicHttpBinding_IReminderService">
      <soap:address location="http://localhost:7868/ReminderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>