Reminder.WebUI/Service References/ServiceReference1/ReminderService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7868/ReminderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Reminder.Service.Contracts.Models.Dto" />
  <xs:element name="GetMyReminder">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyReminderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Reminder.Service.Contracts.Models.Dto" minOccurs="0" name="GetMyReminderResult" nillable="true" type="q1:ArrayOfMyReminderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Reminder.Service.Contracts.Models.Dto" minOccurs="0" name="GetCategoryResult" nillable="true" type="q2:ArrayOfCategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>